<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Open Trivia</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Section Menu -->
<ion-content force-overscroll="false">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="6" size-md="6" sizeSm="8" sizeXs="10">
        
        <!-- Titre Page -->
        <h2 class="ion-text-center">Menu</h2>

        <!-- Player Profil -->
        <ion-item class="profil">
          <ion-thumbnail slot="start" class="ion-text-center">
            <ion-text>Avatar</ion-text>
            <img (click)="openModal()" src="assets/img/avatar/assistant.svg">
          </ion-thumbnail>
          <ion-label position="floating" color="primary"><ion-text class="ion-text-center">Votre Pseudo</ion-text></ion-label>
            <ion-input [(ngModel)]="nickname" name="nickname" minlength="3" type="text" clearInput="true" color="black" required></ion-input>
        </ion-item>

        <!-- Game Difficulté -->
        <ion-label class="ion-justify-content-center">
          <ion-text class="ion-text-center">Difficulté</ion-text>
          <ion-segment  [(ngModel)]="gameDifficulty" (ionChange)="segmentChanged($event)" color="primary" name="gameDifficulty" value="medium">
            <ion-segment-button value="easy">
              <ion-label>Easy</ion-label>
            </ion-segment-button>
            <ion-segment-button value="medium">
              <ion-label>Medium</ion-label>
            </ion-segment-button>
            <ion-segment-button value="hard">
              <ion-label>Hard</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
        

        <!-- <ion-row>
          <ion-col>
            <ion-title>Difficulté</ion-title>
            <ion-item>
              <ion-select [(ngModel)]="gameDifficulty" name="gameDifficulty" value="medium" okText="Valider" cancelText="Annuler">
                <ion-label color="primary">Choisissez la Difficulté</ion-label>
                <ion-select-option value="easy">Easy</ion-select-option>
                <ion-select-option value="medium">Medium</ion-select-option>
                <ion-select-option value="hard">Hard</ion-select-option>
              </ion-select>
            </ion-item> 
          </ion-col>
        </ion-row> -->

        <ion-row >
          <ion-col size="1">
            <ion-checkbox [(ngModel)]="sauvegarder" name="sauvegarder" color="primary"></ion-checkbox>
          </ion-col>
          <ion-col>
            <ion-label size="11" position="floating">Sauvegarder mes informations</ion-label>
          </ion-col>
        </ion-row>

        <ion-toolbar class="ion-text-center" color="transparent">
          <ion-button (click)="tryStartGame()" size="small" expand="block">Let's Gooo !</ion-button>
        </ion-toolbar>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>




