@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-large;
}

h4 {
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
}

ion-text {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-small;
}

ion-grid {
  height: 100%;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-item {
  --padding-top: 0px;
  --padding-bottom: 20px;
}

.my-custom-menu {
  --width: 500px;
}
