@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-large;
}

// VERTICAL ALIGN
ion-grid {
  height: 100%;
}
    
ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


