<ion-header>
  <ion-toolbar>
    <ion-title>Score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">

  <!-- Affichage Score -->
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="6" sizeSm="8" sizeXs="10">
        <h2 class="ion-text-center">Game Over</h2>
        <h2 class="ion-text-center">Score {{ score }}</h2>
        
        <ion-button expand="full" (click)="back()">Retour</ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>
