<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      
      <ion-col>
        <ion-thumbnail class="ion-text-center">
          <img src="assets/img/avatar/assistant.svg">
        </ion-thumbnail>
        <ion-thumbnail class="ion-text-center">
          <img src="assets/img/avatar/assistant.svg">
        </ion-thumbnail><ion-thumbnail class="ion-text-center">
          <img src="assets/img/avatar/assistant.svg">
        </ion-thumbnail>
        
        

      </ion-col>

    </ion-row>
  </ion-grid>
  
</ion-content>
