@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: large;
}

#nickname {
  font-family: 'Press Start 2P', cursive;
}

ion-grid{
  height: 100%;
}
  
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.choiceAnswer{
  --border-color : #3880ff;
  --border-width : 3px;
}

.rightAnswer{
  --border-color : #2dd36f;
  --border-width : 3px;
}

.wrongAnswer{
  --border-color : #eb445a;
  --border-width : 3px;
}

