<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end">{{ nickname }}</ion-text>
    <ion-thumbnail slot="end" class="ion-text-center">
      <img src="assets/img/avatar/assistant.svg">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <ion-row class="ion-justify-content-center">
    <ion-col size-xl="8" size-lg="8" size-md="10" sizeSm="11" sizeXs="11">

      <!-- Affichage Category Question -->
      <ion-text *ngIf="questionInProgress" class="ion-text-center" color="primary">
        <h3>Question n° {{ questionNumber + 1 }} {{ questionInProgress.category }}</h3>
      </ion-text>
      
      <!-- Affichage Question -->
      <ion-item *ngIf="questionInProgress">
        <ion-text class="ion-text-center">
          {{ questionInProgress.question }}
        </ion-text>
      </ion-item>

      <!-- Affichage Reponses -->
      <ion-grid *ngIf="questionInProgress && questionInProgress.answers">
        <ion-row>
          <ion-col size-xl="8" size-lg="8" size-md="6" sizeSm="6" sizeXs="12" *ngFor="let answer of questionInProgress.answers">
            <ion-button 
            (click)="tryToAnswer(answer)" class="choiceAnswer" fill="outline" shape="round" expand="block"
            [ngClass]="{ 'rightAnswer' : nextQuestion && answer.correct, 'wrongAnswer' : nextQuestion && !answer.correct }">
            {{ answer.answer }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 

      <!-- Next OR GameOver -->
      <ion-toolbar class="ion-text-center" color="transparent">
        <ion-button *ngIf="nextQuestion && !gameOver" expand="full" (click)="tryNextQuestion()">Question suivante</ion-button>
        <ion-button *ngIf="nextQuestion && gameOver" expand="full" color="success" (click)="tryEndGame()">Voir mon score</ion-button>
      </ion-toolbar>

    </ion-col>
  </ion-row>
  
</ion-content>
