<ion-content force-overscroll="false">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="6" size-md="6" sizeSm="6" sizeXs="6">
        
        <div class="imageCenter">
          <img src="assets/img/logo.png"/>
        </div>
        
        <ion-button (click)="goToMenuPage()" fill="outline" shape="round" expand="block">
         Open Trivia !
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>




