@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-large;
}

.imageCenter {
  display: flex;
  justify-content: center;
}

ion-grid {
  height: 100%;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-fab-button {
--box-shadow: 0px;
--size: 100px;
--border-radius: 150px;
}